.header-register{
    background-color: rgb(64, 233, 86);
    color: #000;
    font-weight: bolder;
    text-align: center;
    font-size: 35px;
}

.squad {
    border-style: solid;
    border-color: rgb(190, 198, 190);
    margin: 3%;
    padding: 1%;
    height: 300px;
}

.btn-register {
    background-color: blue;
    color: #fff;
    margin: 2%;
}

footer{
    background-color: rgb(64, 233, 86);
    color: #000;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;

    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
}

.edit{
    background-color: green;
    color: #fff;
}

.delete{
    background-color: #fa0202;
    color: #fff;
}

.main-column{
    background-color: rgb(64, 233, 86);
    color: #000;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
}

.main-table{
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
}