body {
    text-align: center;
}

.main-title2 {
    background-color: rgb(106, 248, 109);
}

.main-title {
    background-color: rgb(123, 233, 250);
}

#myimage {
    width: 100px;
    height: 180px;
    border-color: #fa0202;
}